*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: 0px;
    font-family: 'Roboto', sans-serif;
}
div{
    width: 20%;
    margin: auto;
    text-align: center;
}
h1{
    text-align: center ;
    color: #0e72ed;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 60px;
} 
div button{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 1px solid black;
    font-weight: bold;
    color: aliceblue;
}
div button:hover{
    background-color: #0e72edc5;
}

.bg-blue{
    background-color: #0e72ed;
}
.c-black{
    color: black;
}